*{
    font-family: 'Courier New', Courier, monospace;
}
/* //heading */
h1{
    color: #1b74e4;
}

.sbtn{
    background-color: #000000;
    color: #ffffff;
}

.login,.reg{
    background-color: aqua;
}